.sc-resizable{resize:vertical!important;max-width: 64%;}
.simple-contact .contactform_thankyou .thanks-message{font-size:110%; font-weight:bold;}
.contactform_error{font-size:110%; font-weight:bold; color:red;}