{{!
    @template local_jobboard/components/action_buttons

    Action buttons component for grouped actions.
    Uses Bootstrap 5 button group classes.

    Context variables:
    * buttons (array) - Button definitions [{label, url, icon, color, outline, disabled, confirm, tooltip}]
    * size (string) - Button size: sm, lg
    * vertical (bool) - Vertical layout
    * align (string) - Alignment: start, center, end
    * dropdown (bool) - Show as dropdown menu
    * dropdownlabel (string) - Dropdown button label

    Example context (json):
    {
        "buttons": [
            {"label": "Edit", "url": "/edit/1", "icon": "pencil", "color": "primary"},
            {"label": "Delete", "url": "/delete/1", "icon": "trash", "color": "danger", "confirm": "Are you sure?"}
        ],
        "size": "sm"
    }
}}
{{#dropdown}}
<div class="dropdown">
    <button class="btn btn-{{#color}}{{color}}{{/color}}{{^color}}secondary{{/color}}{{#size}} btn-{{size}}{{/size}} dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
        {{#dropdownicon}}<i class="fa fa-{{dropdownicon}} me-1" aria-hidden="true"></i>{{/dropdownicon}}
        {{#dropdownlabel}}{{dropdownlabel}}{{/dropdownlabel}}
        {{^dropdownlabel}}{{#str}}actions, local_jobboard{{/str}}{{/dropdownlabel}}
    </button>
    <ul class="dropdown-menu">
        {{#buttons}}
        {{#divider}}
        <li><hr class="dropdown-divider"></li>
        {{/divider}}
        {{^divider}}
        <li>
            <a class="dropdown-item{{#disabled}} disabled{{/disabled}}{{#isdanger}} text-danger{{/isdanger}}"
               href="{{url}}"
               {{#disabled}}aria-disabled="true" tabindex="-1"{{/disabled}}
               {{#confirm}}data-confirm="{{confirm}}"{{/confirm}}>
                {{#icon}}<i class="fa fa-{{icon}} me-2" aria-hidden="true"></i>{{/icon}}{{label}}
            </a>
        </li>
        {{/divider}}
        {{/buttons}}
    </ul>
</div>
{{/dropdown}}

{{^dropdown}}
<div class="d-flex{{#vertical}} flex-column{{/vertical}} gap-2{{#align}} justify-content-{{align}}{{/align}}">
    {{#buttons}}
    <a href="{{url}}"
       class="btn btn-{{#outline}}outline-{{/outline}}{{#color}}{{color}}{{/color}}{{^color}}secondary{{/color}}{{#size}} btn-{{size}}{{/size}}{{#disabled}} disabled{{/disabled}}"
       {{#disabled}}aria-disabled="true" tabindex="-1"{{/disabled}}
       {{#tooltip}}data-bs-toggle="tooltip" title="{{tooltip}}"{{/tooltip}}
       {{#confirm}}data-confirm="{{confirm}}"{{/confirm}}>
        {{#icon}}<i class="fa fa-{{icon}}{{#label}} me-1{{/label}}" aria-hidden="true"></i>{{/icon}}{{label}}
    </a>
    {{/buttons}}
</div>
{{/dropdown}}
