{{!
    @template local_jobboard/pages/exemption_form

    Exemption add/edit form page.

    Context variables required for this template:
    * pagetitle - string - Page title
    * backurl - string - Back URL
    * isedit - bool - True if editing, false if adding
    * formhtml - string - Rendered form HTML
    * str - object - Language strings

    Example context (json):
    {
        "pagetitle": "Add Exemption",
        "backurl": "/local/jobboard/admin/manage_exemptions.php",
        "isedit": false
    }
}}

<div class="jb-exemptions" data-region="jobboard-exemption-form">
    {{! Page Header }}
    <div class="jb-d-flex jb-justify-content-between jb-align-items-center jb-mb-4">
        <h3 class="jb-mb-0">{{pagetitle}}</h3>
        <a href="{{backurl}}" class="jb-btn jb-btn-outline-secondary">
            <i class="fa fa-arrow-left jb-mr-2"></i>
            {{str.back}}
        </a>
    </div>

    {{! Form Card }}
    <div class="jb-card jb-card-shadow">
        <div class="jb-card-header jb-bg-white">
            <h5 class="jb-mb-0">
                {{#isedit}}
                <i class="fa fa-edit jb-text-primary jb-mr-2"></i>
                {{str.editexemption}}
                {{/isedit}}
                {{^isedit}}
                <i class="fa fa-plus jb-text-primary jb-mr-2"></i>
                {{str.addexemption}}
                {{/isedit}}
            </h5>
        </div>
        <div class="jb-card-body">
            {{{formhtml}}}
        </div>
    </div>
</div>
