{{!
    @template local_jobboard/partials/support_button

    Support button that links to the technical support form page.
    Displayed as a regular inline button within the page layout.

    Context variables:
    * supportpageurl (string) - URL to support.php page

    Example context (json):
    {
        "supportpageurl": "/local/jobboard/support.php"
    }
}}
{{! Support Button - Links directly to support form page }}
<a href="{{supportpageurl}}"
   class="btn btn-outline-warning jb-support-btn"
   title="{{#str}}reporterror, local_jobboard{{/str}}">
    <i class="fa fa-bug me-2" aria-hidden="true"></i>
    {{#str}}reporterror, local_jobboard{{/str}}
</a>
