{{!
    @template local_jobboard/admin_exemption_form

    Exemption create/edit form template.

    Context variables:
    * formhtml - Rendered moodleform HTML
    * isedit - Boolean if editing
    * title - Page title
    * backurl - URL to go back
}}
<div class="jb-admin-exemption-form">
    <div class="jb-card">
        <div class="jb-card-header">
            <h4 class="jb-mb-0">{{title}}</h4>
        </div>
        <div class="jb-card-body">
            {{{formhtml}}}
        </div>
    </div>
    <div class="jb-mt-3">
        <a href="{{backurl}}" class="jb-btn jb-btn-outline-secondary">
            <i class="fa fa-arrow-left jb-mr-1" aria-hidden="true"></i>
            {{#str}}cancel, local_jobboard{{/str}}
        </a>
    </div>
</div>
