{{!
    @template local_jobboard/admin_tabs

    Admin settings tabs navigation.

    Context variables:
    * tabs - Array of tabs {key, label, url, isactive}
}}
<ul class="jb-nav jb-nav-tabs jb-mb-4">
    {{#tabs}}
    <li class="jb-nav-item">
        <a href="{{url}}" class="jb-nav-link{{#isactive}} jb-active{{/isactive}}">{{label}}</a>
    </li>
    {{/tabs}}
</ul>
