{{!
    @template local_jobboard/application_timeline

    Application timeline/history component.

    Context variables:
    * entries - Array of timeline entries
    * hasentries - Boolean
}}
<div class="jb-application-timeline">
    {{#hasentries}}
    <ul class="jb-timeline-list">
        {{#entries}}
        <li class="jb-timeline-item">
            <div class="jb-timeline-marker jb-bg-{{typeclass}}">
                <i class="fa fa-{{icon}}" aria-hidden="true"></i>
            </div>
            <div class="jb-timeline-content">
                <h6 class="jb-timeline-title jb-mb-1">{{title}}</h6>
                {{#description}}
                <p class="jb-timeline-desc jb-text-muted jb-small jb-mb-1">{{description}}</p>
                {{/description}}
                <small class="jb-text-muted">
                    {{#username}}{{username}} - {{/username}}{{timecreated}}
                </small>
            </div>
        </li>
        {{/entries}}
    </ul>
    {{/hasentries}}
    {{^hasentries}}
    <p class="jb-text-muted jb-text-center jb-small">{{#str}}notimeline, local_jobboard{{/str}}</p>
    {{/hasentries}}
</div>
