{{!
    @template local_jobboard/application_confirmation

    Application submission confirmation template.

    Context variables:
    * application - Application object
    * vacancy - Vacancy info
    * nextsteps - Array of next steps
    * dashboardurl - URL to dashboard
    * applicationsurl - URL to my applications
}}
<div class="jb-application-confirmation jb-text-center jb-py-5">
    <div class="jb-confirmation-icon jb-text-success jb-mb-4">
        <i class="fa fa-check-circle fa-5x" aria-hidden="true"></i>
    </div>
    <h2 class="jb-mb-3">{{#str}}applicationsubmitted, local_jobboard{{/str}}</h2>
    <p class="jb-lead jb-text-muted jb-mb-4">
        {{#str}}applicationsubmitteddesc, local_jobboard{{/str}}
    </p>

    <div class="jb-card jb-mx-auto jb-mb-4" style="max-width: 500px;">
        <div class="jb-card-body">
            <h5>{{vacancy.title}}</h5>
            <p class="jb-text-muted jb-mb-2">
                <span class="jb-badge jb-badge-secondary">{{vacancy.code}}</span>
                {{vacancy.department}}
            </p>
            <p class="jb-mb-0">
                {{#str}}applicationid, local_jobboard{{/str}}: <strong>#{{application.id}}</strong>
            </p>
        </div>
    </div>

    {{#nextsteps}}
    <div class="jb-card jb-mx-auto jb-mb-4" style="max-width: 500px;">
        <div class="jb-card-header">
            <h6 class="jb-mb-0">{{#str}}nextsteps, local_jobboard{{/str}}</h6>
        </div>
        <div class="jb-card-body jb-text-left">
            <ol class="jb-mb-0">
                {{#nextsteps}}
                <li class="jb-mb-2">{{.}}</li>
                {{/nextsteps}}
            </ol>
        </div>
    </div>
    {{/nextsteps}}

    <div class="jb-btn-group">
        <a href="{{applicationsurl}}" class="jb-btn jb-btn-primary">
            <i class="fa fa-file-text jb-mr-1" aria-hidden="true"></i>
            {{#str}}viewmyapplications, local_jobboard{{/str}}
        </a>
        <a href="{{dashboardurl}}" class="jb-btn jb-btn-outline-secondary">
            <i class="fa fa-home jb-mr-1" aria-hidden="true"></i>
            {{#str}}gotodashboard, local_jobboard{{/str}}
        </a>
    </div>
</div>
