{{!
    @template local_jobboard/application_list

    Application list template.

    Context variables:
    * applications - Array of application objects
    * hasapplications - Boolean
    * count - Total count
    * pagination - Pagination HTML
    * filters - Current filters
    * canreview - Boolean if user can review applications
}}
<div class="jb-application-list">
    <div class="jb-d-flex jb-justify-content-between jb-align-items-center jb-mb-3">
        <h4 class="jb-mb-0">
            {{#str}}applications, local_jobboard{{/str}}
            <span class="jb-badge jb-badge-secondary">{{count}}</span>
        </h4>
    </div>

    {{#hasapplications}}
    <div class="jb-table-responsive">
        <table class="jb-table jb-table-hover">
            <thead class="jb-thead-light">
                <tr>
                    <th>{{#str}}applicant, local_jobboard{{/str}}</th>
                    <th>{{#str}}vacancy, local_jobboard{{/str}}</th>
                    <th>{{#str}}status, local_jobboard{{/str}}</th>
                    <th>{{#str}}submitted, local_jobboard{{/str}}</th>
                    <th>{{#str}}documents, local_jobboard{{/str}}</th>
                    {{#canreview}}
                    <th>{{#str}}actions, local_jobboard{{/str}}</th>
                    {{/canreview}}
                </tr>
            </thead>
            <tbody>
                {{#applications}}
                {{> local_jobboard/application_row }}
                {{/applications}}
            </tbody>
        </table>
    </div>
    {{{pagination}}}
    {{/hasapplications}}
    {{^hasapplications}}
    {{> local_jobboard/components/empty_state }}
    {{/hasapplications}}
</div>
