{{!
    @template local_jobboard/chart

    Chart container component.

    Context variables:
    * chartid - Unique chart ID
    * type - Chart type (bar, line, pie, doughnut)
    * data - Chart data JSON string
    * options - Chart options JSON string
    * title - Chart title
    * hastitle - Boolean
}}
<div class="jb-chart-container jb-mb-4">
    {{#hastitle}}
    <h5 class="jb-chart-title jb-mb-3">{{title}}</h5>
    {{/hastitle}}
    <div class="jb-chart-wrapper" style="position: relative; height: 400px;">
        <canvas id="{{chartid}}" data-chart-type="{{type}}" data-chart-data="{{data}}" data-chart-options="{{options}}"></canvas>
    </div>
</div>
{{#js}}
require(['local_jobboard/charts'], function(charts) {
    charts.init('{{chartid}}');
});
{{/js}}
