{{!
    @template local_jobboard/document_validation

    Document validation form template.

    Context variables:
    * document - Document object
    * applicant - Applicant info
    * formhtml - Validation form HTML
    * previewurl - Document preview URL
    * downloadurl - Document download URL
    * backurl - URL to go back
}}
<div class="jb-document-validation" data-document-id="{{document.id}}">
    {{> local_jobboard/components/breadcrumbs }}

    <div class="jb-row">
        <div class="jb-col-lg-8">
            <div class="jb-card jb-mb-4">
                <div class="jb-card-header">
                    <h5 class="jb-mb-0">{{#str}}documentpreview, local_jobboard{{/str}}</h5>
                </div>
                <div class="jb-card-body">
                    <div class="jb-document-preview jb-text-center jb-bg-light jb-p-4 jb-rounded">
                        {{#document.isimage}}
                        <img src="{{previewurl}}" alt="{{document.filename}}" class="jb-img-fluid jb-max-height-500">
                        {{/document.isimage}}
                        {{#document.ispdf}}
                        <iframe src="{{previewurl}}" class="jb-w-100" style="height: 500px;" title="{{document.filename}}"></iframe>
                        {{/document.ispdf}}
                        {{^document.isimage}}{{^document.ispdf}}
                        <div class="jb-py-5">
                            <i class="fa fa-file-{{document.fileicon}} fa-5x jb-text-muted jb-mb-3" aria-hidden="true"></i>
                            <p class="jb-mb-0">{{document.filename}}</p>
                            <small class="jb-text-muted">{{document.filesize}}</small>
                        </div>
                        {{/document.ispdf}}{{/document.isimage}}
                    </div>
                    <div class="jb-mt-3 jb-text-center">
                        <a href="{{downloadurl}}" class="jb-btn jb-btn-outline-primary" download>
                            <i class="fa fa-download jb-mr-1" aria-hidden="true"></i>
                            {{#str}}download, local_jobboard{{/str}}
                        </a>
                        {{#document.canopennew}}
                        <a href="{{previewurl}}" class="jb-btn jb-btn-outline-secondary" target="_blank">
                            <i class="fa fa-external-link jb-mr-1" aria-hidden="true"></i>
                            {{#str}}opennewtab, local_jobboard{{/str}}
                        </a>
                        {{/document.canopennew}}
                    </div>
                </div>
            </div>
        </div>

        <div class="jb-col-lg-4">
            <div class="jb-card jb-mb-4">
                <div class="jb-card-header">
                    <h5 class="jb-mb-0">{{#str}}documentinfo, local_jobboard{{/str}}</h5>
                </div>
                <div class="jb-card-body">
                    <dl class="jb-row jb-mb-0">
                        <dt class="jb-col-5">{{#str}}documenttype, local_jobboard{{/str}}</dt>
                        <dd class="jb-col-7">{{document.doctypename}}</dd>

                        <dt class="jb-col-5">{{#str}}applicant, local_jobboard{{/str}}</dt>
                        <dd class="jb-col-7">
                            <a href="{{applicant.profileurl}}">{{applicant.fullname}}</a>
                        </dd>

                        <dt class="jb-col-5">{{#str}}uploaded, local_jobboard{{/str}}</dt>
                        <dd class="jb-col-7">{{document.timecreated}}</dd>

                        <dt class="jb-col-5">{{#str}}status, local_jobboard{{/str}}</dt>
                        <dd class="jb-col-7">
                            <span class="jb-badge jb-badge-{{document.statusclass}}">
                                {{#str}}docstatus:{{document.validationstatus}}, local_jobboard{{/str}}
                            </span>
                        </dd>

                        {{#document.validatedby}}
                        <dt class="jb-col-5">{{#str}}validatedby, local_jobboard{{/str}}</dt>
                        <dd class="jb-col-7">{{document.validatedby}}</dd>

                        <dt class="jb-col-5">{{#str}}validateddate, local_jobboard{{/str}}</dt>
                        <dd class="jb-col-7">{{document.timevalidated}}</dd>
                        {{/document.validatedby}}
                    </dl>
                </div>
            </div>

            <div class="jb-card">
                <div class="jb-card-header">
                    <h5 class="jb-mb-0">{{#str}}validation, local_jobboard{{/str}}</h5>
                </div>
                <div class="jb-card-body">
                    {{{formhtml}}}
                </div>
            </div>
        </div>
    </div>

    <div class="jb-mt-4">
        <a href="{{backurl}}" class="jb-btn jb-btn-outline-secondary">
            <i class="fa fa-arrow-left jb-mr-1" aria-hidden="true"></i>
            {{#str}}back, local_jobboard{{/str}}
        </a>
    </div>
</div>
