{{!
    @template local_jobboard/vacancy_list

    Template for displaying a list of vacancies.

    Context variables required for this template:
    * vacancies - Array of vacancy objects
    * hasvacancies - Boolean if there are vacancies
    * cancreatevacancy - Boolean if user can create vacancies
    * createurl - URL to create new vacancy
    * filterform - HTML of filter form

    Example context (json):
    {
        "hasvacancies": true,
        "vacancies": [{"id": 1, "title": "Developer"}],
        "cancreatevacancy": true,
        "createurl": "/local/jobboard/edit.php"
    }
}}
<div class="jobboard-vacancy-list" data-region="vacancy-list">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>{{#str}}vacancies, local_jobboard{{/str}}</h2>
        {{#cancreatevacancy}}
            <a href="{{createurl}}" class="btn btn-primary">
                {{#pix}}i/addblock, core{{/pix}}
                {{#str}}newvacancy, local_jobboard{{/str}}
            </a>
        {{/cancreatevacancy}}
    </div>

    {{#filterform}}
        <div class="card mb-4">
            <div class="card-body">
                {{{filterform}}}
            </div>
        </div>
    {{/filterform}}

    {{#hasvacancies}}
        <div class="row" data-region="vacancy-cards">
            {{#vacancies}}
                <div class="col-lg-6 col-xl-4">
                    {{> local_jobboard/vacancy_card}}
                </div>
            {{/vacancies}}
        </div>

        {{#pagination}}
            <nav aria-label="{{#str}}page, local_jobboard{{/str}}">
                {{{pagination}}}
            </nav>
        {{/pagination}}
    {{/hasvacancies}}

    {{^hasvacancies}}
        <div class="alert alert-info">
            {{#pix}}i/info, core{{/pix}}
            {{#str}}noresults, local_jobboard{{/str}}
        </div>
    {{/hasvacancies}}
</div>
