{{!
    @template local_jobboard/components/activity_timeline

    Activity timeline component.

    Context variables:
    * title - Timeline title
    * items - Array of activity items
    * hasitems - Boolean if items exist

    Example context (json):
    {
        "title": "Recent Activity",
        "items": [
            {
                "id": 1,
                "type": "application",
                "typeclass": "info",
                "icon": "file-text",
                "title": "New application submitted",
                "description": "John Doe applied for Developer position",
                "timeago": "2 hours ago",
                "hasurl": true,
                "url": "/application/1"
            }
        ],
        "hasitems": true
    }
}}
<div class="jb-activity-timeline">
    {{#title}}
    <h5 class="jb-timeline-title jb-mb-3">{{title}}</h5>
    {{/title}}
    {{#hasitems}}
    <div class="jb-timeline">
        {{#items}}
        <div class="jb-timeline-item">
            <div class="jb-timeline-marker jb-bg-{{typeclass}}">
                <i class="fa fa-{{icon}}" aria-hidden="true"></i>
            </div>
            <div class="jb-timeline-content">
                <h6 class="jb-timeline-item-title">
                    {{#hasurl}}
                    <a href="{{url}}">{{title}}</a>
                    {{/hasurl}}
                    {{^hasurl}}
                    {{title}}
                    {{/hasurl}}
                </h6>
                {{#description}}
                <p class="jb-timeline-item-desc jb-text-muted jb-small jb-mb-1">{{description}}</p>
                {{/description}}
                <small class="jb-text-muted">
                    {{#username}}<span class="jb-mr-2">{{username}}</span>{{/username}}
                    <span>{{timeago}}</span>
                </small>
            </div>
        </div>
        {{/items}}
    </div>
    {{/hasitems}}
    {{^hasitems}}
    <p class="jb-text-muted jb-text-center jb-py-3">{{#str}}noactivity, local_jobboard{{/str}}</p>
    {{/hasitems}}
</div>
