/**
 * CUSTOM.CSS - DEPRECADO
 *
 * Este archivo ha sido deprecado. Todo su contenido ha sido migrado a:
 * theme/inteb/scss/inteb.scss
 *
 * Por favor, realiza todas las modificaciones de estilos en inteb.scss
 * Este archivo se mantiene vacío para evitar duplicaciones y mejorar
 * el mantenimiento del tema.
 *
 * Fecha de migración: 2024
 * Archivo destino: theme/inteb/scss/inteb.scss
 */
