/**
 * Custom CSS for INTEB Theme
 *
 * Este archivo se carga AL FINAL de todo el CSS y tiene la mayor prioridad.
 * Aquí se incluyen estilos críticos que deben sobrescribir RemUI/Bootstrap.
 *
 * NOTA: Los estilos del breadcrumb moove ahora están en scss/inteb.scss
 * usando las variables SCSS del tema.
 *
 * @package     theme_inteb
 * @copyright   2025 Vicerrectoría Académica ISER <vicerrectoria@iser.edu.co>
 */

/* Agregar estilos CSS personalizados aquí si es necesario */
